.budgetDashboard {
  padding:0px;
  margin-bottom:10px;


  .budgetDashboardInner {
    .mainSectionWrap {
      background: linear-gradient($tealBlue 0%, $tealGreen 100%);
      padding-left:0px;
      padding-top:20px;
      min-height:100vh;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .budgetInfo {
    .container {
      width:100%;
      margin:0px;
      padding:0px;
    }
  }
}

@media (min-width: 1200px) {
  .budgetDashboard {
    .budgetDashboardInner {
      .mainSectionWrap {
        padding-left:8.333333%;
      }
    }
  }
}
