.overallDashboard {
  .budgetDashboardInner {
    .mainSectionWrap {
      background: linear-gradient($tealBlue 0%, $tealGreen 100%);
      padding-left:0px;
      padding-top:20px;
      min-height:100vh;
    }
  }
}
