.budgetDashboard {
  .sidebarComp {
    height: 100%;
    background-color: grey;
  }

  .budgetInfo {
    background-color:red;
  }

  .lineItemsContainer {
    background-color:blue;
  }

  .budgetMembers {
    background-color:blue;
  }
}
