.budgetInfo {
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 5px rgba(23,128,224,0.12);
  padding:1rem;
  margin-bottom:20px;

  .container {
    padding: 0px;
  }

  .budgetTotal {
    text-align:left;

    p {
      font-size:18px;
      span {
        font-weight:bold;
      }
    }
  }
  .createdDate {
    font-size:12px;
    color: #AFB4B7;
  }
}

@media (min-width: 1200px) {
  .budgetInfo {
    .budgetTotal {
      text-align:right;
    }
  }
}
