.loginPage{
  padding:0px;

  .loginSignupNav {
    height:72px;
    height: 72px;
    background: linear-gradient(148.8deg, #1CC4C8 0%, #3DD6A5 100%);
    padding:0px;

    .backWrap {
      display: flex;
      align-items: center;
      justify-content: left;

      a:link, a:visited {
        color: #FFFFFF;
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 23px;
        margin-bottom:0px;
      }
    }


    .logoCol{
      display: flex;
      align-items: center;
      justify-content: center;

      .logoWrap {
        width:200px;
        display:flex;
        margin:0 21rem 0 4rem;

        img {
          margin-right:10px;
        }

        p {
          color: #FFFFFF;
          font-family: "Titillium Web";
          font-size: 20px;
          line-height: 30px;
          margin-bottom:0px;
        }
      }
    }
  }

  #loginForm {
    height: 100vh;
    margin-top: 10px;

    #login-form {
      border:1px solid #e6e6e6;
      padding: 10px;
      margin-bottom: 10px;

      input {
        width:100%;
        border-radius:5px;
        border: 1px solid #e6e6e6;
      }

      p {
        font-weight:700;
      }

      .loginSubmit {
        background: linear-gradient(90deg, #FB6649 0%, #FB4E5B 100%);
        color:#fff;
        padding:5px 0px;
      }
    }
  }
}

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {


  .loginPage {
    .loginSignupNav {
      .backWrap {
        justify-content: center;
      }
    }

    #loginForm {

      #login-form {
        border:1px solid #e6e6e6;
        padding: 10px;
        margin-bottom: 10px;

        input {
          width:100%;
          border-radius:5px;
          border: 1px solid #e6e6e6;
        }

        p {
          font-weight:700;
        }

        .loginSubmit {
          background: linear-gradient(90deg, #FB6649 0%, #FB4E5B 100%);
          color:#fff;
          padding:5px 0px;
        }
      }
    }

    .loginForm {

      h1 {
        text-align:center;
      }
    }

  }
}
