
.loginPage {
  padding:0px;

  // START LOGIN NAV STYLES
  .loginSignupNav {
    height: 72px;
  	background: linear-gradient(148.8deg, #1CC4C8 0%, #3DD6A5 100%);
    padding:0px;

    .col-2 {
      display: flex;
      align-items: center;
      justify-content: center;

      a:link, a:visited {
        color: #FFFFFF;
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 23px;
        margin-bottom:0px;
      }


    }
    .col-10{
      display: flex;
      align-items: center;
      justify-content: center;

      .logoWrap {
        width:200px;
        display:flex;
        margin:0 21rem 0 4rem;

        img {
          margin-right:10px;
        }

        p {
          color: #FFFFFF;
          font-family: "Titillium Web";
          font-size: 20px;
          line-height: 30px;
          margin-bottom:0px;
        }
      }
    }
  }
  // END LOGIN NAV STYLES

  #loginForm {
    height: 100vh;
    margin-top: 10px;

    #login-form {
      border:1px solid #e6e6e6;
      padding: 10px;
      margin-bottom: 10px;

      input {
        width:100%;
        border-radius:5px;
        border: 1px solid #e6e6e6;
      }

      p {
        font-weight:700;
      }

      .loginSubmit {
        background: linear-gradient(90deg, #FB6649 0%, #FB4E5B 100%);
        color:#fff;
        padding:5px 0px;
      }
    }
  }

  .loginForm {

    h1 {
      text-align:center;
    }
  }

}
