/* GLOBAL VARIABLS */

/* END GLOBAL VARIABLES */

/* GLOBAL STYLES */
.btn {
  height: 50px;
  width: 100%;
  border-radius: 100px;
  background: linear-gradient(90deg, #FB6649 0%, #FB4E5B 100%);
  border-color: #FB6649;
  font-weight:700;
}

.btn:hover {
  background: linear-gradient(#1CC4C8 0%, #3DD6A5 100%);
  border-color: #1CC4C8;
}
/* END GLOBAL STYLES */

.content-area {
  height:95vh;

  .homeNav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    .navbar-brand {
      text-transform: uppercase;

      img {
        margin-right:10px;
      }

      .logotext {
        height: 30px;
        width: 141px;
        color: #313a46;
        font-family: "Titillium Web";
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
        text-transform:uppercase;
      }
    }

    .navbar {

      .navbar-toggler {
        color:#ffffff;
        border-color:#ffffff;
      }
      .navbar-nav {
        a:link, a:visited {
          background-color:#ffffff;
          padding:10px 5px;
          border-bottom:1px solid #1CC4C8;
          font-weight:bold;
          font-size:1em;
          text-transform:uppercase;

          button {
            border-radius:10px;
          }
        }
      }
    }
  }
  .overWrap {
    height:95vh;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60%;

  }

  .homeTextWrap {
    padding-top: 100px;
    padding-left: 3rem;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 992px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1200px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .renting-with-roommates-trio-of {
    height: 89.02%;
    width: 79.38%;
    opacity: 0.6;
    background-color: rgba(216, 216, 216, 0);
  }

  .content-area {
    .homeNav {
      .navbar-nav {
        a:link, a:visited {
          padding-top:20px;
          color:#ffffff;
          background-color: transparent;
          border-bottom:none;
        }
        a:hover {
          color:#FB6649;
        }

        .homeButton {
          width:150px;
          padding-top:0px;

          .btn {
            border-radius:50px;
          }
        }
      }
    } // End of Homenav

    .overWrap {
      height: 100vh;
    }
  }

  .homeTextWrap {
    padding-top: 300px;
  }
}
