.logotext {
  height: 30px;
  width: 141px;
  color: #313a46;
  font-family: "Titillium Web";
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
}
.renting-with-roommates-trio-of {
  height: 89.02%;
  width: 79.38%;
  opacity: 0.6;
  background-color: rgba(216, 216, 216, 0);
}

main.content-area {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 69%;

  .btn-primary {
    height: 58px;
    width: 270px;
    border-radius: 100px;
    background: linear-gradient(90deg, #FB6649 0%, #FB4E5B 100%);
    border-color: #FB6649;
    font-weight:700;
  }

  .btn-primary:hover {
    background: linear-gradient(#1CC4C8 0%, #3DD6A5 100%);
    border-color: #1CC4C8;
  }
}
.homeNav {
  .navbar-brand {
    text-transform: uppercase;

    img {
      margin-right:10px;
    }
  }
  .navbar-nav {
      a:link, a:visited {
        padding-top:20px;
        color:#ffffff;
        font-weight:bold;
        font-size:1em;
        text-transform:uppercase;
      }
      a:hover {
        color:#FB6649 !important;
      }

      .homeButton {
        padding-top:0px !important;
      }
  }

  .btn-primary {
    height: 58px;
    width: 270px;
    border-radius: 100px;
    background: linear-gradient(90deg, #FB6649 0%, #FB4E5B 100%);
    border-color: #FB6649;
    font-weight:700;
  }

  .btn-primary:hover {
    background: linear-gradient(#1CC4C8 0%, #3DD6A5 100%);
    border-color: #1CC4C8;
  }
}
