.logotext {
  height: 30px;
  width: 141px;
  color: #313a46;
  font-family: "Titillium Web";
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
}
.renting-with-roommates-trio-of {
  height: 89.02%;
  width: 79.38%;
  opacity: 0.6;
  background-color: rgba(216, 216, 216, 0);
}

main.content-area {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;

  .navbar-nav {
    a:link, a:visited {
      padding-top:18px;
      color:#ffffff;
    }

    .homeButton {
      padding-top:0px !important;
    }
  }
  .btn-primary {
    height: 58px;
    width: 270px;
    border-radius: 100px;
    background: linear-gradient(90deg, #FB6649 0%, #FB4E5B 100%);
  }
}
